
<!DOCTYPE html >
<html  xml:lang="ro" lang="ro">
<head>
    <title>U R WEB Geolocation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/aboutus.css" />
</head>
<body>
<div id="page"> 
    <div id="header">
        <div class="title">Despre aplicația noastră</div>
    </div>
    <div id="pageContent">
    <div class="articleTitle">Stimate utilizatorule,
                        bine ai venit în aplicația noastră numită U R Web!</div>
        
      <div class="articleContent">
        <p>Aplicația prezinta în mod „inteligent” resurse—obiective de interes(benzinării,restaurante,magazine,spitale,etc.),informații de ghidare -- disponibile în imediata vecinătate a locației utilizatorilor. </p><br />
        <p>Această aplicație vine în sprijinul celor dornici să viziteze,să se plimbe, să ia cina ori alte activități zilnice posibile unui om într-un oraș ales de el. În rândurile următoare vom prezenta instrucțiuni pentru utilizarea cu ușurință a aplicației web:</p><br />
        <p>1.Pentru utilizarea aplicatiei veți putea fi unic identificat cu ajutorul logarii prin intermediul propriului cont Facebook, de la care se vor lua informații legate de locațiile deja vizitate sau apreciate. Se vor putea lua în calcul propria locație, locurile deja vizitate din istoricul Check-in sau apreciate de pe Facebook sau chiar a propriului cont U R Web.</p><br />
        <p>2.După logare veți fi redirecționați către pagina principală în care este prezentă,în mijloc, o hartă și un pin care arată locația curentă a dumneavoastră plus o bară de search în care se poate căuta locația dorită pe hartă.În partea stângă filtre de căutare(De exemplu:Dacă dorim să căutăm restaurante/benzinării/spitale în orașul Iași pe o rază între 0-5000 metri alegem orașul Iași,arie de căutare între 0-5000 metri și locațiile dorite).În partea dreaptă sus lângă fotografia dumneavoastră de profil preluată de pe facebook sunt optiunile de ieșire din  aplicație,de setări ale contului în care veți putea gestiona datele personale preluate de pe facebook/completarea celor inexistente și o opțiune în care veți putea viziona căutarile care le-ați efectuat pâna în momentul respectiv.</p><br/>
        <p>Vă mulțumim că ați ales aplicația pentru a vă ghida și ajuta să descoperiți locuri noi!!</p>
    </div>


    </div>

</div>
        
</body>
</html>