
<html>
  <head>
      <title>Geolocation</title>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <script src="../static/js/map.js" defer></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx-eHAzWip3GDruCiK3eRu5zsw7GZZ61w&callback=initMap" defer></script>
      <style>
         @import url('../static/css/board.css');
      </style>


  </head>
  <body>
    <p class="red">aaaaa</p>
        <!--
    <div class="header">
        <div id="logo_bar">
            <div></div>
            <div></div>
        </div>
        <div></div>
    </div>
<div class="map_container" id="map"></div>
    <div class="footer">

    </div>

    -->
  </body>
</html>