<!DOCTYPE html>
<html>
  <head>
      <title>Geolocation</title>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
<!--       <link rel="stylesheet" type="text/css" href="../static/css/board.css"> -->
      <script async defer src="../static/js/map.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx-eHAzWip3GDruCiK3eRu5zsw7GZZ61w&callback=initMap"></script>

  </head>
<style>
.show {display:block;}
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
body {
    font-family: "Lato", sans-serif;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a5c7ff;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    float:left;
    height: 100px;
    overflow-y: auto;
    height: 100px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
table, td, th{
  border-collapse: collapse;
  border: 1px solid black;
}
.menu{
  background: #4286f4;
  text-align: center;
}
</style>
<body>
    <table width="1350" height="640">
      <tr style="background: #4286f4;" width="1360" height="40">
        <th><span style="font-size:20px;cursor:pointer">Filtre de cautare</span></th>
        <th>
          <div>
              <div >
                <input type="text" placeholder="Search for..." size="50">
                <span >
                  <button type="button">Cauta</button>
                </span>
              </div>
          </div>
        </th>
        <th> Optiuni</th>
      </tr>
      <tr>
        <td class = "menu" height="40">
          <div class="dropdown">
            <span>Oras</span>
            <div class="dropdown-content">
              <input type="radio" name="group1" value="mica" id="item1">
                <label for="item1">Alba</label></input></br>
              <input type="radio" name="group1" value="medie" id="item2">
                <label for="item2">Argeș</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Arad</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">București</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Bacău</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Bârlad</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Bistriţa</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Bihor</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Bistrița-Năsăud</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Brăila</label></input></br>
              <input type="radio" name="group1" value="mica" id="item1">
                <label for="item1">Botoșani</label></input></br>
              <input type="radio" name="group1" value="medie" id="item2">
                <label for="item2">Brașov</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Buzău</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Cluj</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Călărași</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Caraș-Severin</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Constanța</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Covasna</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Dâmbovița</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Dolj</label></input></br>
              <input type="radio" name="group1" value="mica" id="item1">
                <label for="item1">Gorj</label></input></br>
              <input type="radio" name="group1" value="medie" id="item2">
                <label for="item2">Galați</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Giurgiu</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Hunedoara</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Harghita</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Ilfov</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Ialomița</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Iași</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Mehedinți</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Maramureș</label></input></br>
              <input type="radio" name="group1" value="mica" id="item1">
                <label for="item1">Mureș</label></input></br>
              <input type="radio" name="group1" value="medie" id="item2">
                <label for="item2">Neamț</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Olt</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Prahova</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Sibiu</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Sălaj</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Satu Mare</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Suceava</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Tulcea</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Timiș</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Teleorman</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Vâlcea</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Vrancea</label></input></br>
              <input type="radio" name="group1" value="mare" id="item3">
                <label for="item3">Vaslui</label></input>
            </div>
          </div>
        </td>
        <td colspan="2" rowspan="4"><div id="map"></div></td>
      </tr>
      <tr>
        <td class = "menu" height="40">
            <div class="dropdown">
              <span>Arie de cautare</span>
                <div class="dropdown-content">
                  <input type="radio" name="group1" value="mica" id="item1">
                  <label for="item1">Mica</label></input></br>
                  <input type="radio" name="group1" value="medie" id="item2">
                  <label for="item2">Medie</label></input></br>
                  <input type="radio" name="group1" value="mare" id="item3">
                  <label for="item3">Mare</label></input>
                </div>
            </div>
        </td>
      </tr>
      <tr><td class = "menu" height="40">Locatii</td></tr>
      <tr><td class = "menu"> </td></tr>
    </table>
  </body>
</html>